%p#notice= notice

%p
  %b Name:
  = @expense.name
%p
  %b Description:
  = @expense.description
%p
  %b Value:
  = @expense.value
%p
  %b Date:
  = @expense.date

= link_to 'Edit', edit_expense_path(@expense)
\|
= link_to 'Back', expenses_path
